[submodule "package/nikki"]
	path = package/nikki
	url = https://github.com/nikkinikki-org/OpenWrt-nikki.git
[submodule "package/passwall2"]
	path = package/passwall2
	url = https://github.com/Openwrt-Passwall/openwrt-passwall2.git
